
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: '', Arial, sans-serif;
  color: rgb(35, 35, 35);
}

/* MY CSS STYLE */
/* NAVBAR */
nav {
  padding: 15px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  background: #fff;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav .menu {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  align-items: center;
}

nav .menu li {
  list-style: none;
}

nav .menu li:hover {
  border-bottom: 2px solid rgb(41, 41, 41, 0.9);
}

nav a {
  text-decoration: none;
  color: rgba(41, 41, 41, 0.9);
}

nav a:hover {
  color: rgba(41, 41, 41, 1.0);
}

nav :active {
  color: rgba(41, 41, 41, 1.0);
}

.logo_navbar{
    cursor: pointer;
    color: #000;
}
/* AKHIR NAVBAR */

/* CONTAINER */
/* SECTION 1 HOME */
.home {
  width: 90%;
  height: 700px;
  margin-bottom: 80px;
  margin: auto;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .gambar img {
  width: 100%;
}

.home h1 {
  font-size: 2.5em;
}

.home, .welcome {
  font-family: 'Inter' !important;
}

.home .welcome .social {
  font-size: 1.2em;
  margin-top: 20px;
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.social{
  margin-left: 3px;
}

.home .welcome .social a {
  color: rgb(160, 160, 160);
}

.home .welcome .social a:nth-child(1):hover {
  color: rgb(244, 11, 0);
}
.home .welcome .social a:nth-child(2):hover {
  color: rgb(27, 31, 35);
}
.home .welcome .social a:nth-child(3):hover {
  color: rgb(72, 103, 170);
}
.home .welcome .social a:nth-child(4):hover {
  color: rgb(255, 1, 29);
}
/* AKHIR SECTION 1 HOME */

/* SECTION 2 ABOUT */
.about {
  padding-top: 10rem;
  width: 80%;
  height: 500px;
  margin: auto;
  margin-bottom: 100px;
  /* background-image: url();
  background-repeat: no-repeat; */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about img {
  width: 40%;
}

.about .content h2 {
  font-family: 'Inter',sans-serif;
  font-size: 1.8em;
}

.about .content p {
  padding: 0 50px 0 50px;
  font-size: 1.2em;
}

.about .content i:hover {
  color: red;
}
/* AKHIR SECTION 2 ABOUT */

/* SECTION 3 PROJECTS */
.project {
  padding: 6rem 150px 0 150px;
  margin-top: -5px;
  margin-bottom: -2px;

}

.project h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 40px;
}

.project .card {
  margin: 15px;
  width: 250px;
  height: 200px;
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 5%;
  text-align: center;
  overflow: hidden;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.project .card .header {
  height: 130px;
  background-color: #c4c4c4;
}

.project .header.satu {
  background-image: url(./screenshots/project1.png);
  background-position: center;
  background-size: cover;
}
.project .header.dua {
  background-image: url(./screenshots/project2.png);
  background-position: center;
  background-size: cover;
}
.project .header.tiga {
  background-image: url(./screenshots/project3.png);
  background-position: center;
  background-size: cover;
}
.project .header.empat {
  background-image: url(./screenshots/project4.png);
  background-position: center;
  background-size: cover;
}
.project .header.lima {
  background-image: url(./screenshots/project5.png);
  background-position: center;
  background-size: cover;
}

.project .card .judul {
  margin-top: 6px;
}

.project .card h4 {
  margin-bottom: 5px;
}

.project .card .judul button {
  padding: 5px 15px 5px 15px;
  border: none;
  border-radius: 7px;
  font-size: 0.8em;
  color: white;
  background-color: royalblue;
  cursor: pointer;
  font-family: 'Inter', sans-serif !important;
}

.project .card .judul button:hover {
  background-color: rgb(76, 121, 255);
}

.project .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* AKHIR SECTION 3 PROJECT */

/* SECTION 4 CONTACT */
.contact {
  padding-top: 6rem;
  width: 50%;
  margin: 20px auto;
}

.contact h2 {
  text-align: center;
  margin-bottom: 30px;
}


#name, #email{
  width: 100%;
  padding: 12px 12px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  font-family: 'Inter', sans-serif;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 15px;
  opacity: .7;
}
#message{
  width: 100%;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 10px 10px;
  font-family: 'Inter', sans-serif;
  resize: vertical;
  font-size: 15px;
  border: .1px solid #000;
  border-radius: 10px;
  opacity: .7;
}
#name:hover, #email:hover, #message:hover{
  opacity: 1.0;
}
#submit{
  width: 100%;
  padding: 10px 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border:none;
  color: #fff;
  background: rgb(60, 182, 255);
}
#submit:hover{
  background:rgb(60, 161, 255) ;
  cursor: pointer;
  color: #fff;
}
/* AKHIR SECTION 4 CONTACT */

/* FOOTER */
footer {
  text-align: center;
  font-size: 1.1em;
  padding: 20px;
  margin-top: 100px;
  background-color: rgb(35, 35, 35);
  color: #c4c4c4;
}

footer a {
  color: #c4c4c4;
  /* text-decoration: none; */
}

footer i:hover {
  color: red;
}
/* AKHIR FOOTER */

/* RESPONSIVE BREAKPOINT */
/* Ukuran Mobile */
@media (max-width: 576px) {
  /* NAVBAR */
  nav {
    padding: 15px;
    font-size: 0.8em;
    justify-content: space-around;
  }
  nav .menu {
    width: 40%;
    font-size: 0.75em;
    justify-content: space-between;
  }
  /* AKHIR NAVBAR */

  /* SECTION HOME */
  .home {
    font-size: 0.95em;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    padding-top: 90px;
    margin-bottom: 50px;
  }
  .home .welcome {
    margin-left: -70px;
  }
  .home .gambar {
    margin-bottom: 40px;
    justify-content: center;
  }
  /* AKHIR SECTION HOME */

  /* SECTION ABOUT */
  .about {
    font-size: 0.8em;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    margin-top:auto;
    margin-bottom: 250px;
  }
  .about img {
    width: 80%;
    margin-bottom: 20px;
  }
  .about .content {
    width: 100%;
    margin: 0;
  }
  /* AKHIR SECTION ABOUT */

  /* SECTION PROJECTS */
  .project {
    font-size: 0.8em;
    padding: 80px 0px 20px 0px;
  }
  .project h2 {
    margin-bottom: 15px;
  }
  .project .content .card {
    /* margin: 0; */
    width: 70%;
  }
  /* AKHIR SECTIO PROJECTS */

  /* SECTON CONTACT */
  .contact {
    font-size: 0.8em;
    margin: auto;
    width: 100%;
  }
  .contact .content {
    width: 90%;
    margin: auto;
  }
  /* AKHIR SECTION CONTACT */

  /* FOOTER */
  footer {
    font-size: 0.7em;
  }
  /* AKHIR FOOTER */
}
p{
  font-family: 'Inter', sans-serif;
}
h4{
  font-family:'Inter', sans-serif;
  font-weight: 400 !important;
}
